body {
    background: #c1bdba;
    font-family: 'Titillium Web', sans-serif;
  }
  
  a {
    text-decoration: none;
    color: #1ab188;
    transition: 0.5s ease;
  }
  
  a:hover {
    color: #179b77;
  }
  
  .form {
    background: rgba(19, 35, 47, 0.9);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  }
  
  .tab-group {
    display: flex;  
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
  }
  
  .tab-group li {
    flex-grow: 1;
  }
  
  .tab-group li a {
    display: block;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .tab-group li a:hover {
    background: #179b77;
    color: #ffffff;
  }
  
  .tab-group .active a {
    background: #1ab188;
    color: #ffffff;
  }
  
  .tab-content > div:last-child {
    display: none;
  }
  
  h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
  }
  
  label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.25s ease;
  }
  
  label .req {
    margin: 2px;
    color: #1ab188;
  }
  
  label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
  }
  
  label.highlight {
    color: #ffffff;
  }
  
  input {
    font-size: 22px;
    display: block;
    width: 100%;
    padding: 5px 10px;
    background: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
  }
  
  input:focus {
    outline: 0;
    border-color: #1ab188;
  }
  
  .field-wrap {
    position: relative;
    margin-bottom: 40px;
  }
  
  .top-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
  }
  
  .top-row > div:last-child {
    margin-right: 0;
  }
  
  .button {
    border: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    background: #1ab188;
    color: #ffffff;
    width: 100%;
    transition: all 0.5s ease;
  }
  
  .button:hover {
    background: #179b77;
  }
  
  .success-message {
    text-align: center;
    background-color: #1ab188;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
  }
  